Main/tables/courses.xsd

<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"><xs:element name="courses"><xs:complexType><xs:sequence><xs:element name="row" minOccurs="0" maxOccurs="unbounded"><xs:complexType><xs:sequence><xs:element name="course_name" type="xs:string"></xs:element><xs:element name="credit_hours" type="xs:integer"></xs:element></xs:sequence></xs:complexType></xs:element></xs:sequence></xs:complexType></xs:element></xs:schema>