Main/tables/k.xsd

<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"><xs:element name="k"><xs:complexType><xs:sequence><xs:element name="row" minOccurs="0" maxOccurs="unbounded"><xs:complexType><xs:sequence><xs:element name="x" type="xs:string"></xs:element><xs:element name="y" type="xs:integer"></xs:element></xs:sequence></xs:complexType></xs:element></xs:sequence></xs:complexType></xs:element></xs:schema>